*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(assets/sponsor.png);
    background-size:400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color:gray;
}

.container{
    width:100%;
    min-height:100vh;
    padding:10px;
}

.thodoe{
    width:100%;max-width:540px;
    background:white;
    padding:1rem 2rem 1rem;
    margin:50px auto 20px;
    border-radius: 15px;
}

.thodoe h2{
    color:black;
    display:flex;
    margin-bottom:1rem;
    font: weight 100%;
    justify-content:center;
 }

 .row{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background: silver;
    border-radius:30px;
    padding-left:20px;
    margin-bottom:25px;

 }

 input{
    flex:1;
    border:0;
    outline:0;
    background: transparent;
    padding: 10px;
    font-weight:12px;
 }

 button{
    border:0;
    outline:0;
    padding:16px 20px;
    background: gray;
    color:lightgreen;
    font-size:20px;
    cursor: pointer;
    border-radius:30px;
    font-weight:100%;
 }

 ul li{
    list-style: none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    position:relative;
    cursor:pointer;
 }

 ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-image: url(assets/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 20px;
 }

 ul li.checklist {
    color: silver;
    text-decoration: line-through;
 }

 ul li.checklist::before {
    background-image: url(assets/checklist.png);
 }

 ul li span {
    position:absolute;
    right:0;
    width: 40px;
    height: 40px;
    font-size:22px;
    color:red;
    line-height:40px;
    text-align:center;
    border-radius:50%;
 }

ul li span:hover{
    background: whitesmoke;
}

.border{
    height:650px;
    text-align:center;
    color:lightblue;
    
}